/* Portrait tablets and small desktops */
@media (min-width: 481px) and (max-width: 767px) {

#header-wrapper {
        height: 20vh;
    }

    .container.res-search-auto {
        margin-top: 70px;
    }

/*    .search-form-wrapper {
        margin-top: 30%;

    }

    .search-form-wrapper form .bootstrap-select{
        display: block;
        width: 100%;
    }

    .search-form-wrapper .input-group-btn {
      display: unset;
    }

    .res-search-auto form .input-group {
        width: 100%;
    }
    .res-search-auto input.form-control {
        margin: 20px 0;
        border: 1px solid #008dc9 !important;
        background: white !important;
        color: black !important;
        border-radius: 2px;

    }

    .res-search-auto input.form-control, .res-search-auto .input-group-btn>.btn, .res-search-auto button {
        width: 100%;

    }*/

    /* footer */
    footer blockquote {
        text-align: left;
        margin-top: -70px;
    }

    /* Restaurant view single */
    .restaurant-single h1 {
        margin-top: 15px;
    }

    /* user home page */
    #property-listings .property-listing .media-body {
        width: 100%;
    }

    .container-pad {
        padding: 10px 0;
        margin: 10px -15px;
    }

    #property-listings .property-listing a {
        padding-right: 0;
    }

    h4.media-heading a{
        font-size: 1.6em;

    }

    h4.media-heading small.label {

        clear: both;
        margin-top: 10px;
        font-size: 0.5em;
    }

    

    /* Reward points */

      .circle-progress {
          float: left;
    }

    .circle-progress strong {
            left: 42%;
    }

}