/* Commons
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Raleway, sans-serif !important;
  color: #676767 !important;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif !important;
}

p , div, span {
  font-family: Raleway, sans-serif!important;
  color: #676767 ;
  line-height: 1.45rem ;

}

header {

  margin-bottom: 100px;

}

nav {

}

.navbar-default {

  background: #3398ab;


}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;

}


main  {

    padding-bottom: 70px;

}

/*----------------------
welcome/Search Page
----------------------*/


.bootstrap-select {

    min-width: 150px;
}


/*----------------------
Restaurants Card Styles
----------------------*/

.clickable{
  cursor: pointer;
}

.panel-heading span {
  margin-top: -25px;
  font-size: 15px;
}



.res-search-auto  form .input-group {
  background: #2bb5cf;
  padding: 20px;
  border-radius: 5px;
}

.filters ul {

  -webkit-padding-start: 0;

}


.filters ul li {

  list-style: none;

}

.footer {

  background: #3398ab;


}



/*----------------------
Restaurants Card Styles
----------------------*/

.address p {
    text-transform: capitalize!important;
}
.panel.panel--styled {
  background: #F4F2F3;
}
.panelTop {
  padding: 30px;
}

.panelBottom {
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
}
.btn-add-to-cart {
  background: #FD5A5B;
  color: #fff;
}
.btn.btn-add-to-cart.focus, .btn.btn-add-to-cart:focus, .btn.btn-add-to-cart:hover  {
  color: #fff;
  background: #FD7172;
  outline: none;
}
.btn-add-to-cart:active {
  background: #F9494B;
  outline: none;
}


span.tel {
  font-size: 24px;
  color: #6c6769;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* user Home/dashboard page */

.inline {
    display: inline;
}
.card {
    padding-top: 20px;
    margin: 0 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 18px -6px rgba(0,0,0,1);
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}


.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {

    background: -webkit-linear-gradient(135deg, rgba(23, 164, 79, 0.5) 0%, rgba(51, 122, 183, 0.7) 100%);

    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

/* Card Restaurants */
/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 0 15px 30px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
        border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,1);
    box-shadow: 0px 0px 18px -6px rgba(0,0,0,1);
}
.brdr {
    border: 2px solid #ededed;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 15px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}

/* coupon */
.coupon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.coupon {
    border: 3px dashed #bcbcbc;
    border-radius: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 300px;

}

.coupon.redeemed, .coupon.expired {
    background: #d6d6d6;
    color: #7d7d7d;
    position: relative;

}

.coupon.redeemed::after{
    content: 'Redeemed';
}

.coupon.expired::after {
    content: 'Expired';
}
.coupon.redeemed::after, .coupon.expired::after{

    position: absolute;
    z-index: 111;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 33px;
    font-size: 2em;
    color: #eceaea;
    background: rgba(119, 119, 119, 0.34);
    border-radius: 6px;
}

.coupon.redeemed button, .coupon.expired button {
    visibility: hidden;
}

.coupon.redeemed .label.label-warning , .coupon.expired .label.label-warning {
    background-color: gray;
    color: #a8a8a8;;
}



.well.code {
    height:60px;
    max-width: 400px;
    margin: 20px auto;
    font-size: 2.2em;
    padding: 10px;
    font-weight:300;
}
@media screen and (max-width: 500px) {
    .coupon #title img {
        height: 15px;
    }
}

.coupon #title span {
    float: right;
    margin-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

sup {
    top: -15px;
}

#business-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#business-info ul li {
    display: inline;
    text-align: center;
}

#business-info ul li span {
    text-decoration: none;
    padding: .2em 1em;
}

#business-info ul li span i {
    padding-right: 5px;
}

/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}

    /* Circle progress */
    .circle-progress {
        position: relative;
        display: inline-block;
        float: right;
        width: 20%;
        margin-top: 20px;
        text-align: center;

    }

    .circle-progress strong {
        position: absolute;
        color: #00b0ff;
        top: 25%;
        left: 35%;
        font-size: 2.5em;
        font-weight: 300;

    }

    /* property listing */

    .media-body {
        width: 54%;
        display: inline-block;
    }

    /* Rating */
    .rateYo {
        margin: 10px 0;
    }

/* eof user home/dashboard  page */



